langchain==1.2.17
langgraph==1.1.10

langchain-groq
langchain-community
langchain-core
langsmith

groq
python-dotenv
pydantic

fastapi
uvicorn

tavily-python
duckduckgo-search

faiss-cpu
chromadb
ipykernel
wikipedia
streamlit